.main {
    margin-top: 20px;
    margin-left: 10px;
    max-height: 170px;
    min-height: 100px;
}

.cartMedia {
    object-fit: contain;
    max-height: 50px;
    width: 100%;
    max-width: 50px;
    height: 100%;
}

.buttonGrid {
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}

.gridButtonMinus {
    text-align: right;
}

.gridButtonPlus {
    text-align: left;
}

.gridAmountCenter {
    text-align: center;
}